.swiper-container {
  height: 172px;
}

.home_content {
  position: relative;
  top: 84px;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  padding-bottom: 50px;
  background: $backgroundColor;
  max-width: 414px;
  margin: 0 auto;
  background: white;
}

.home_content::-webkit-scrollbar {
  display: none;
}

.brand {
  margin-bottom: 10px;
  h2 {
    height: 40px;
    display: flex;
    span {
      font-weight: bold;
      margin: 15px auto 10px;
      font-size: 14px;
      color: $pink;
      line-height: 14px;
      text-align: center;
    }
  }
  .brand_list {
    width: 335px; // max-width: 414px;
    margin: 0 auto;
    
  }
}

.hotGoods {
  background: $backgroundColor;
  h2 {
    display: flex;
    font-weight: bold;
    span {
      font-size: 14px;
      color: $fontColor;
      line-height: 14px;
      text-align: center;
      margin: 15px auto;
    }
  }
}

.promiseDes {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
  li {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    i {
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: url('~@/assets/payment_check_common_icon@3x.png');
      background-size: 100%;
      margin-right: 10px;
    }
  }
}

.home_module {
  width: 100%;
  box-sizing: border-box;
  padding: 0 16px;
  >div {
    display: flex;
  }
  .module_title {
    display: flex;
    height: 50px;
    line-height: 20px;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 10px 4px 0;
    p {
      width: 100%;
    }
    p:nth-child(1) {
      font-size: 15px;
      color: #323232;
      font-weight: bold;
    }
    p:nth-child(2) {
      font-size: 12px;
      color: $lightGray;
      transform: scale(0.9);
      position: relative;
      left: -17px;
      top: 0;
    }
  }
  .module1 {
    height: 80px;
    width: 100%;
    overflow: hidden;
    display: flex;
    a {
      width: 100%;
      img{
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .module6 {
    height: 180px;
    width: 100%;
    overflow: hidden;
    display: flex;
    a {
      width: 100%;
      img{
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .module2 {
    justify-content: space-between;
    overflow: hidden;
    a {
      width: 168px;
      height: 80px;
    }
  }
  .module3 {
    justify-content: space-between;
    >div {
      width: 168px;
      height: 165px;
      overflow: hidden;
      display: flex;
    }
    >div:nth-child(1) {
      display: flex;
      a {
        width: 100%;
      }
    }
    >div:nth-child(2) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      a {
        width: 100%;
        height: 80px;
      }
    }
  }
  .module4 {
    justify-content: space-between;
    overflow: hidden;
    display: flex;
    a {
      width: 110px;
      height: 100px;
    }
  }
  .module5{
    width: 100%;
    display: flex;
    height: 75px;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 18px 0;
    a{
      width: 50px;
      display: flex;
      flex-direction: column;
      color: $lightGray;
      align-items: center;
      img{
        width:50px;
        height: 50px;
        // background: black;
        margin-bottom: 3px;
      }
      p{
        width: 100%;
        line-height: 11px;
        font-size: 11px;
        transform: scale(0.9);
        text-align: center;
      }
    }
  }
}

.brandWall {
  position: relative;
  height: 214px;
  overflow: hidden;
  dt {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: 50px;
    div:nth-child(1) {
      flex: 1;
      line-height: 20px;
      p:nth-child(1) {
        font-size: 15px;
        color: #323232;
      }
      p:nth-child(2) {
        font-size: 12px;
        color: $lightGray;
        transform: scale(0.9);
        position: relative;
        left: -15px;
      }
    }
    div:nth-child(2) {
      width: 70px;
      font-size: 12px;
      color: #99a1b2;
      height: 22px;
      display: flex;
      align-items: center;
      border: 1px solid #f7f8fa;/*no*/
      box-shadow: 0 0 8px 0 rgba(57, 66, 109, 0.08);
      border-radius: 22px;
      i {
        width: 14px;
        height: 14px;
        background: url('~@/assets/svg/homepage_exchange_icon.svg');
        background-size: 100%;
        border-radius: 50%;
        margin: 0 5px;
      }
    }
  }
  dd {
    position: absolute;
    z-index: 6;
    left: 50%;
    margin-left: -168.5px;
    width: 337px;
    height: 134px;
    box-sizing: border-box;
    box-shadow: 0 0 8px 0 rgba(57, 66, 109, 0.08);
    background: white;
    color: red;
    display: flex;
    flex-wrap: wrap;
    a {
      width: 67px;
      height: 67px;
      box-sizing:border-box;
      padding:10px;
      overflow: hidden;
      display: flex;
      align-content: center;
      img{
        object-fit: contain;
      }
    }
  }
  div:nth-child(3) {
    position: absolute;
    left: 50%;
    margin-left: -160px;
    top: 58px;
    width: 320px;
    height: 134px;
    z-index: 2;
    box-shadow: 0 0 8px 0 rgba(57, 66, 109, 0.08);
    border-radius: 4px;
    background: white;
  }
  div:nth-child(4) {
    position: absolute;
    left: 50%;
    margin-left: -151px;
    z-index: 1;
    top: 69px;
    box-shadow: 0 0 8px 0 rgba(57, 66, 109, 0.08);
    border-radius: 4px;
    width: 302px;
    height: 129px;
    background: white;
  }
}




.rotate {
  animation: rotateHAHA 2s linear infinite;
}

@keyframes rotateHAHA {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
